*.zip
*.lsf
*.loca
bg3 mod manager
ExportTool*
ModularCiri
Sample*
Tutorial
AncientJewelry
SeluneArmor
BhaalistRobes
_images
.idea
Ellian's trinkets
combined.tga
A.tga
B.tga
.cache.pk
*TODO.txt
*.code-workspace